html,
body,
p,
h1 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'JosefinSansRegular';
}

section {
  height: 100%;
}

#landing-section {
  background-color: #000;
  background-image: url('microphone.jpg');
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;

  color: #e0e0e0;
}

#landing-section h1 {
  margin-left: -7px;
  font-size: 5rem;
  font-family: 'JosefinSansLight', sans-serif;

  background-image: url('gold-texture.jpg');
  background-clip: text;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
}

#landing-section p {
  font-size: 1.4rem;
}

#second-section {
  font-size: 3rem;
  color: #000;
  display: grid;
  place-items: center;
}

@font-face {
  font-family: 'JosefinSansRegular';
  src: url('josefin-sans/JosefinSansRegular-x3LYV.ttf');
}

@font-face {
  font-family: 'JosefinSansLight';
  src: url('josefin-sans/JosefinSansLight-ZVEll.ttf');
}
